.ui{
  text-align: left;
  padding-left: 5%;
}
.ko{
  text-align: left;
  padding-left: 5%;
}
.ai{
  text-align: left;
  padding-left: 2%;
}
.ia{
  text-align: left;
  padding-left: 2%;
}
.oi{
  text-align: left;
  padding-left: 2%;
}
.numa{
  height: 500px;
  width: 1000px;
  padding-left: 10%;
}
  .cent{
    height: 300px;
    width: 800px;
  }
  }
  .kai{
    height: 100px;
    width: 300px;
  }
  .uau{
    height: 100px;
    width: 300px;
  }
  .die{

  }
  .di{

  }
  .de{
    
  }
  .botao{
    padding-bottom: 0%;
  }
  .botun{
    
  }
  .boton{

  }
  .barra{
    background-color: rgba(57, 133, 183, 0.884);
    height: 500px;
    width: 1500px;
  }